* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFEFEF;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.topNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner {
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.topNavBar .logo {
    font-size: 30px;
}

.topNavBar .logo span:first-child {
    color: #D96F6F;
}

.topNavBar .logo span:nth-child(2) {
    color: #9A9DA1;
}

.topNavBar nav ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.topNavBar nav ul li {

    font-size: 13px;
    font-weight: bold;
    margin-left: 37px;
    color: #CCCBCC;
    border-bottom: 3px solid transparent;
}

.topNavBar nav ul li:hover {
    border-bottom: 3px solid #D96F6F;
}

main {
    margin-top: -340px;
}

main .card-container {
    margin: 0px auto;
    max-width: 930px;

}

main .card-container .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

main .card-container .card .img {
    margin-right: 40px;
}

main .card-container .card .profile-container {
    display: flex;
    flex-grow: 0.4;
    padding: 60px 90px;
}

main .profile ul li {
    margin-top: 10px;

}

main .profile .welcome {
    display: inline-block;
    background-color: #D96F6F;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 3px 16px;
    text-transform: uppercase;
    position: relative;

}

main .profile .welcome .triangle {
    border: 10px solid transparent;
    border-left-color: #D96F6F;
    border-top-width: 0px;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 100%;
    height: 0px;
    width: 0px;

}

main .profile ul li {
    color: #9DA0A6;
}

main .profile ul li:before {
    font-weight: bold;
    color: black;
}

main .profile ul li:nth-child(1):before {
    content: '年龄';
    margin-right: 90px;

}

main .profile ul li:nth-child(2):before {
    content: '地址';
    margin-right: 90px;
}

main .profile ul li:nth-child(3):before {
    content: '手机';
    margin-right: 90px;
}

main .profile ul li:nth-child(4):before {
    content: '邮箱';
    margin-right: 90px;
}

main .profile ul li:nth-child(5):before {
    content: '学历';
    margin-right: 90px;
}

main .media {
    text-align: center;
}

main .media ul {
    display: flex;
    justify-content: center;
    background: #D96F6F;
}

main .media ul > li {
    margin-left: 25px;
    padding: 20px;
    text-align: center;
}

main .media ul > li a {
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    padding: 10px 10px;
}

main .media ul > li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

main .media ul > li a svg {
    font-size: 20px;
    color: #fff;
}

.banner {
    background-image: url("./img/backgeound.jpg");
    width: 100%;
    height: 517px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 517px;
    background-color: rgba(0, 0, 0, 0.8);
}

.download-warpper {
    text-align: center;
}

.download-warpper .downloadPDF {
    display: inline-block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #3E4450;
    padding: 10px 85px;
    border: 1px solid #CBCDCF;
    background-color: #EFEFEF;
    transition: box-shadow 0.2s;
}

.download-warpper .downloadPDF:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

body > .describe {
    margin-top: 35px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #2A2A2A;
    margin-bottom: 50px;
}

body > .describe > p:first-child {
    margin-bottom: 10px;
}

body > .describe p {
    font-family: serif;
}

.skills,
.works {
    text-align: center;
    margin: 0px auto;
}

.skills .skills-inner,
.works .works-inner {
    max-width: 930px;
    margin: 0px auto;
}

.skills ul {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.skills h2 {
    margin-bottom: 28px;
}

.skills ul li {
    flex: 0 0 45%;
    margin-left: 20px;
    margin-top: 30px;
}

.skills ul li:first-child {
}

.skills ul li h3 {
    text-align: left;
    margin-left: 14px;
}

.skills ul li .progressBar {
    background: #F7E2E2;
    height: 5px;
    border-radius: 2px;
}

.skills ul li .progressBar .progress {
    height: 100%;
    width: 50%;
    background: #D96F6F;
    border-radius: 2px;

}

.works {
    margin-bottom: 200px;
}




.works nav ul {
    display: flex;
    justify-content: center;
}

.works nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.works nav ul li {
    margin-left: 50px;
    cursor: pointer;
}

.works nav ul li:first-child {
    margin-left: 0px;
}

.works .bar {
    display: inline-block;
    width: 100%;
    background: #fff;
    position: relative;
    height: 10px;
}

.works .bar-inner {
    display: inline-block;
    height: 100%;
    background: #D96F6F;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
}

.works .bar-inner.state-1 {
    left: 0px;
    width: 36%;
}

.works .bar-inner.state-2 {
    left: 87px;
    width: 27%;
}

.works .bar-inner.state-3 {
    left: 169px;
    width: 24%;
}

.works .items {
    position: relative;
    margin-top: 30px;
}

.works .items .big,
.works .items .small {
    position: absolute;
}

.works .items img {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}