
* {

    border: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}