.topNavBar .logo {
    margin: 12px 12px;
    float: left;

}

.topNavBar .logo span {

    margin: 0px 2px;
}

.topNavBar nav {

    float: right;
}

.topNavBar nav ul li {

    float: left;
    margin: 0px 12px;
    font-size: 12px;

}

.topNavBar nav ul li a {

    color: #C8C7C8;
    font-weight: bold;

}

.banner {

    background-image: url("../img/background.jpg");
}